@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ff7979;
}

.bodyBg {
  background: url(src/intro-component-with-signup-form-master/images/bg-intro-mobile.png)
    no-repeat;
  background-size: cover;
}

.positionError {
  position: relative;
}

.positionError img {
  position: absolute;
  top: 16px;
  right: 27px;
}

@media (min-width: 1000px) {
  .bodyBg {
    background: url(src/intro-component-with-signup-form-master/images/bg-intro-desktop.png)
      no-repeat;
    background-size: cover;
  }
}
